<p id="notice"><%= notice %></p>
<%= render 'topics/form' %>

<h>Listing topics</h2>

<dl>
  <% @topics.each do |topic| %>
    <dt><strong><%= link_to topic.subject, topic %></strong> by <%= topic.name %> (<%= topic.created_at.to_s(:db) %>)</dt>
    <dd><%= simple_format topic.body %></dd>
  <% end %>
</dl>

<%= paginate @topics %>
