<p id="notice"><%= notice %></p>
<%= render 'topics/form' %>
<!-- <h>Listing topics</h2> -->
        <div class="box">
<dl>
  <% @topics.each do |topic| %>
  <div class="aa">
    <dt><strong><%= link_to topic.subject, topic %></strong> ///// <%= topic.name %> (<%= topic.created_at.to_s(:db) %>)</dt>
    <dd><%= simple_format topic.body %></dd>
</div>
  <% end %>
</dl>

<%= paginate @topics %>