<p id="notice"><%= notice %></p>
<div class="box">
  <div class="race">
<p>
  <strong>Subject:</strong>
  <%= @topic.subject %>
</p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <%= simple_format @topic.body %>
</p>

<%= render 'comments/index' %>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Delete', @topic, method: :delete, data: { confirm: 'Are you sure?'} %> |
<%= link_to 'Back', topics_path %>
</div>
</div>
