<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @topic.subject %>
</p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= simple_format @topic.body %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Delete', @topic, method: :delete, data: { confirm: 'Are you sure?'} %> |
<%= link_to 'Back', topics_path %>
